:root {
    --primary: #2b8cee;
    --accent-gold: #d4af37;
    --background-light: #f6f7f8;
    --background-dark: #101922;
    --navy-deep: #0d141b;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: var(--background-light);
}

header {
    position: sticky;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}
nav {
    display: flex;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: gray;
    list-style: none;
    font-size: 0.95em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: var(--primary);
}
header button{
    margin: auto 0;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 0.8em;
    letter-spacing: 0.05em;
    color: white;
    border: none;
    background-color: var(--primary);
    cursor: pointer;
    transition: all 0.3s ease ;
}
header button:hover {
    background-color: #3182ce;
    box-shadow: 2px 5px 10px #2b8cee;
}
#section-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 85vh;
}
.hero-image {
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCX0YKTrPGHXj56l-gRf0-SiK2hVDur5UOaF-e5B4xM6ie-ua-wQb8Z2Zh0imYrSbI-896BZyP2flj62lKbXUkPxjStloalxcV9Crnyn00pArsDSf4CNnlxHh_nuaHmL6tgz63bl7Yd7enWJkqEFJj5EwzoYvbqJ7glfwrFrh2wCGL8FS0MzD0QNkmrLAmxHt2ScF6YlaF-DU8uTZUOTV0AMfpS7qXTjB7-jyq9En9hMI1TNGIUwy54ycn4dOZ7T_u4jXPcrT8hxg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-gradient {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(13, 20, 27, 0.4) 0%, rgba(13, 20, 27, 0.7) 100%)
}
.hero-content {
    position: relative;
    z-index: 20;
    text-align: center;
    color: white;
    padding: 20px 0;
    max-width: 900px;
}
.hero-content h2{
    font-size: 4em;
    font-weight: bolder;
    line-height: 1em;
    margin-bottom: 20px;
}
.hero-content h2 span {
    color: var(--primary);
    font-style: italic;
}
.hero-content p{
    color: #C6D1D9;
    font-size: 1em;
    margin-bottom: 40px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.hero-content form {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto; 
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(10px);
    padding: 8px; 
    border-radius: 12px; 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25); 
    border: 1px solid rgba(255, 255, 255, 0.2); 
    display: flex;
    flex-direction: row; 
    align-items: center; 
    gap: 8px; 
    justify-content: space-between;
    position: relative
}
.hero-content input {
    width: 100%;
    max-width: 180px;
    padding: 16px 0 16px 35px; 
    border-radius: 8px; 
    background-color: transparent;
    border: none; 
    outline: none; 
    color: #1e293b; 
    font-weight: 500;
    font-size: 0.9rem;
    box-sizing: border-box;
}
.hero-content input::placeholder {
    color: #94a3b8; 
}
.input-icon {
    position: absolute;
    left: 16px; 
    top: 50%;
    transform: translateY(-50%);
    color: #94a3b8;
    font-size: 1.2rem;
    font-variation-settings: 'FILL' 0, 'wght' 400;
    pointer-events: none;
}
.hero-content input#destino::before {
    content: "explore";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #94a3b8;
    font-size: 1.2rem;
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400;
    pointer-events: none;
}

.hero-content input#fecha-ida::before {
    content: "calendar_month";
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: #94a3b8;
    font-size: 1.2rem;
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400;
    pointer-events: none;
}
.hero-content input#destino::after {
    content: '';
    position: absolute;
    right: -4px;
    top: 50%;
    transform: translateY(-50%);
    height: 32px;
    width: 1px;
    background-color: #e2e8f0;
    display: none;
}
.hero-content input#fecha-ida {
    border-right: none;
    border-radius: 0;
}
.hero-content button {
    background-color: var(--primary);
    color: white;
    padding: 16px 40px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 0.3s ease;
    position: relative;
}

.hero-content button:hover {
    background-color: #2563eb;
}

.hero-content button::before {
    content: 'search';
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400;
    font-size: 1.2rem;
    color: white;
}