header {
    position: sticky;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h1{
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.05em;
}
nav {
    display: flex;
}
nav ul{
    display: flex;
    gap: 20px;
    align-items: center;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    color: gray;
    list-style: none;
    font-size: 0.95em;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: color 0.3s ease;
}
nav ul li a:hover {
    color: var(--primary);
}

/* DESTINOS */
.header-destinos {
    background-color: white;
    border-bottom: 2px solid #d3dfec;
}
.header-destinos .input-container {
    display: flex;
    align-items: center;
    position: relative;
}
.header-destinos .input-container input{
    background-color: #E7EDF3;
    border: none;
    margin: auto 0;
    padding: 10px 20px 10px 45px;
    color: #839EB9;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    line-height: 1.2;
}
.header-destinos .input-container .icon-search{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #839EB9;
    pointer-events: none;
    font-size: 1.5em;
}
