main {
    padding: 0 20px;
}
#section-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}
#titles p {
    color: #6284A6;
    line-height: 1.5em;
    margin-bottom: 10px;
}
#titles > div {
    display: flex;
    align-items: center;
    gap: 20px;
}
